@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.squash
{
  letter-spacing: -1px;
}

.expand
{
  letter-spacing: .6px;
}

.justified
{
  text-align: justify;
  text-justify: inter-word;
}

.my-modal
{
  max-width: 100% !important;
  max-height: 100% !important;

}
@import "bootstrap";